.about3{
    width: 80%;
    margin: 0 auto;
}
.about3Data{
    text-align: center;
}
.about3Data h1{
    color: #263873;
    font-weight: 700;
    font-size: 35px;
}
.about3Data p{
    color: #263873;
    font-weight: 400;
    font-size: 23px;
    margin-top: 40px;
}


























































































